# {{ ansible_managed }}
# WLST offline. Credentials are read from the environment, never written to disk.
import os

domain_name = '{{ weblogic_domain_name }}'
admin_user = os.environ['WLS_ADMIN_USERNAME']
admin_password = os.environ['WLS_ADMIN_PASSWORD']

readTemplate('{{ weblogic_domain_template }}')

cd('/')
set('Name', domain_name)
setOption('DomainName', domain_name)
setOption('JavaHome', '{{ weblogic_java_home }}')
setOption('ServerStartMode', '{{ 'dev' if weblogic_server_start_mode == 'dev' else 'prod' }}')
setOption('OverwriteDomain', 'false')

cd('/Servers/AdminServer')
set('ListenAddress', '{{ weblogic_admin_listen_address }}')
set('ListenPort', {{ weblogic_admin_listen_port }})
{% if weblogic_admin_ssl_enabled | bool or weblogic_server_start_mode == 'secure' %}
create('AdminServer', 'SSL')
cd('SSL/AdminServer')
set('Enabled', 'True')
set('ListenPort', {{ weblogic_admin_ssl_listen_port }})
cd('/Servers/AdminServer')
{% endif %}
set('Name', '{{ weblogic_admin_server_name }}')

cd('/Security/%s/User/weblogic' % domain_name)
cmo.setName(admin_user)
cmo.setPassword(admin_password)

cd('/SecurityConfiguration/%s' % domain_name)
set('NodeManagerUsername', admin_user)
set('NodeManagerPasswordEncrypted', admin_password)
{% if weblogic_server_start_mode == 'secure' %}

# Secured production mode (14.1.1+): plain listen port disabled, administration port enabled
create('NO_NAME', 'SecureMode')
cd('SecureMode/NO_NAME')
set('SecureModeEnabled', 'true')
cd('/')
set('AdministrationPort', {{ weblogic_administration_port }})
{% elif weblogic_server_start_mode == 'prod' %}

# 14.1.2+ enables secured production mode with prod: disable it explicitly.
# Releases without the SecureMode MBean (12.2.1.4) have nothing to disable.
try:
    create('NO_NAME', 'SecureMode')
    cd('SecureMode/NO_NAME')
    set('SecureModeEnabled', 'false')
except:
    print('SecureMode not supported, skipping')
{% endif %}

setOption('NodeManagerType', 'PerDomainNodeManager')
cd('/NMProperties')
set('ListenAddress', '{{ weblogic_nodemanager_listen_address }}')
set('ListenPort', {{ weblogic_nodemanager_listen_port }})

writeDomain('{{ weblogic_domain_home }}')
closeTemplate()
exit()
